<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} FLASK |{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <header>
       {% include 'navbar.html' %}
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>


<!-- {% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
    <title>
        {% block title %} FLASK |{% endblock %}
    </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}
 -->